@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: rgb(204, 22, 134);
    --color-primary-dark: rgb(78, 10, 52);
    --color-grey-1: #eee;
    --color-grey-2: #ddd;
    --color-grey-3: #aaa;
    --color-grey-4: #777;
    --color-grey-5: #444;
    --page-bg: black;
    --text-color: white;
    --text-color-alt: #444;
    --border-radius: 1rem;
}

html, body {
    font-family:'Elms Sans';
    font-weight: 300;
}

h1, h2, h3 {
    font-weight: 400;
}

a {
    color: var(--color-primary);

}

.bg-grey-5 {
    background-color: var(--color-grey-5);
}

.page {
    min-height: 90vh;
    background: var(--page-bg);
    color: var(--text-color);
}

label {
    color: var(--text-color);
}

footer {
    background: var(--color-primary-dark);
    min-height: 10vh;
    color: white;
    padding: 1rem 0;
}

.btn {
    background: var(--color-primary);
    color: white;

    &.bg-white {
        background: none;
        border: 3px solid var(--text-color);
        color: var(--text-color);
    }
}
 
.modal {
    &> section {
        background-color: var(--color-primary-dark);
    }
}

.modal .bg-primary {
    background-color: var(--color-primary)
}

div[class^="input"] {
    margin-bottom: 1rem;
}

div.input-image {
    flex-direction: row;

    &[class*="field-record.avatar"] img{
        width: 20rem;
        height: 20rem;
        object-fit: cover;
        border-radius: var(--border-radius);
    }
}

.tabs {
    margin: 2rem 0;

    a {
        margin-right: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        &.active {
            background-color: var(--color-grey-5);
            color: var(--text-color);
        }
    }
}

.profiles {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;

    .profile {
        position: relative;
        background: rgba(255,255,255,0.2);
        border-radius: var(--border-radius);
        padding: 1rem;
        grid-column-end: span 3;
        color: var(--text-color);
        background-size: cover;
        height: 20rem;

        .details {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            h2 {
                margin: 0.5rem 0 0 0;
                font-size: 1rem;
            }
        }
        

    }
}



.messages {

    height: 100vh;

    #records {

        padding-right: 1rem;

        .record {
            display: flex;
            padding: 0.5rem 1rem;
            border-radius: 6px;
            font-size: 0.9rem;
            margin: 0 0 0.5rem 0;

            a {
                font-size: 1rem;
                display: flex;
                align-items: center;
            }

            thumb-nail {
                margin-right: 1rem;
            }

            &.selected, &:hover {
                background-color: var(--color-grey-5);
            }

            &.unread {
                font-weight: 600;
                background-color: var(--color-primary-dark);
                
            }
        }

    }

    &+footer {
        display: none;
    }

}

@media (max-width: 800px) {
    .messages {

        .contain.flex {
            display: block;
        }

        #records.open {
            display: none;
        }
    }
}

.thread-wrapper {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;

    .new {
        align-items: center;
        padding: 1rem;
        width: 100%;
        color: var(--text-color-alt);

        input {
            min-height: 1rem;
            height: auto;
            padding: 0.75rem 1.2rem;
            background-color: white;
            border-radius: 2rem;
        }
    }
}

#thread {

    flex: 1;
    overflow-y: auto;

    &.records {

         .record {

            font-size: 0.9rem;
            margin-bottom: 1rem;

            & > .content {
                display: inline-block;
                padding: 1rem;
                border-radius: var(--border-radius);
                border-bottom-left-radius: 0;
                width: auto;
                background: white;
                color: var(--text-color-alt);

                & .details {
                    display: none;
                }

                
            }

            &.outgoing {
                text-align: right;

                & > .content {
                    border-radius: var(--border-radius);
                    border-bottom-right-radius: 0;
                    background-color: var(--color-primary);
                    color: var(--text-color);
                }
            }


        }

    }

}


